@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Cabin|Pacifico");
* {
  margin: 0;
  padding: 0 "";
}

body {
  background: #3E496B;
}

#wrap {
  background: #ECD641;
  width: 400px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
}

h2 {
  color: #3E496B;
  font-size: 70px;
  font-family: 'Pacifico', cursive;
}

h2, form {
  background: #EA315B;
  margin: auto;
  padding: 10px 0;
  text-align: center;
}

form {
  padding: 0;
}

input {
  border: none;
  padding: 15px;
  width: 100%;
}
input:focus{
  outline: none;
}
ul {
  width: 90%;
  margin: 50px auto;
  padding: 0;
}

li {
  list-style: none;
  border-bottom: 3px solid #44B1D9;
  padding: 10px;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
}

a {
  text-decoration: none;
  position: absolute;
  background: #ECD641;
  color: #3E496B;
  font-weight: bolder;
  right: 0;
  padding: 3px;
}
